@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    direction: rtl;
    -webkit-font-smoothing: antialiased;
  }
  
  i, em, .italic {
    font-style: normal !important;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
